## Python workshop - day 1

##### Topics covered:
* built-in data types: int, float, bool, string, list, dictionary
* pandas - read a file, subset, filter, column rename, modification of data

#### Define a variable in python.
We don't need a declaration of data type for the variable.

In [1]:
a = 1

#### Type of the variable
To check the type of variable use `type()`

In [2]:
type(a)

int

#### Change the data type at runtime
Reassign the variable to string.

In [3]:
a = "hello world"

In [4]:
type(a)

str

In [5]:
len(a)

11

#### Data type - int vs float
Python deduce the data type on the basis of value being stored in the variable.

In [6]:
b = 2.3

In [7]:
type(b)

float

#### Boolean
These are represented by `True` and `False`

In [8]:
c = True

In [9]:
type(c)

bool

#### String escape single quotes
- One option is to use double quotes which surround the string having single quotes.
- Other option is to use escape the string using `\`

In [10]:
a = "I'm walking"

In [11]:
a = 'I\'m walking'

#### String based functions
- upper
- title
- slicing
- find
- count

In [12]:
a = "hello world"

In [13]:
a.upper()

'HELLO WORLD'

In [14]:
a.title()

'Hello World'

In [15]:
a[0]

'h'

In [16]:
a[1]

'e'

#### Slicing
`[start_index : end_index]` will print all elements except the end_index item.

In [17]:
a[0:3]

'hel'

In [18]:
a[0:1]

'h'

#### count()
replies with the occurence of the given pattern in a given string.

In [19]:
a.count('l')

3

In [20]:
a.count('lo')

1

#### find
Search for the given string/pattern in the string and return the index of first occurence.

In [21]:
a.find('h')

0

In [22]:
a.find('l')

2

#### find - contd. 
Element not found in the list

In [23]:
a.find('z')

-1

#### list
Can have any data type inside the collection.

In [24]:
a = [2,3,4,5,6, "hello", True]

In [25]:
type(a)

list

In [26]:
type(a[0])

int

In [27]:
type(a[6])

bool

#### Slicing
Same concept as studied for the list

In [28]:
a[0:3]

[2, 3, 4]

#### Slicing - contd.
`[start_index : end_index : step]` step is by default equal to 1.

In [29]:
a[0:4:2]

[2, 4]

#### Slicing - missing arguments

In [30]:
a[2:]

[4, 5, 6, 'hello', True]

In [31]:
a[:4]

[2, 3, 4, 5]

#### Slicing - negative step
Reverse the list

In [32]:
a[::-1]

[True, 'hello', 6, 5, 4, 3, 2]

#### Find object in the list
using index - raises `ValueError` if the item is not found in the list

In [33]:
a.index(5)

3

In [34]:
a.index(99)

ValueError: 99 is not in list

### Sample problem
`s = 'abcd'` is a collection of available string characters.<br>
`e = 'xywz'` is the collection of their relative encoded characters.

For a given user character in variable `user` find the encoded string. For example, `user = 'a'` should be converted to `x`.

In [36]:
s = "abcd"

In [37]:
e = "xywz"

In [38]:
user = 'a'
user_index = s.find(user)
print(e[user_index])

x

#### Assumption
user will always enter a valid string character. Check the behavior in case, user enters `q`.

In [39]:
user = 'q'
user_index = s.find(user)
print(e[user_index])

z

#### negative indices

<table>
    <tr><td>0</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
    <tr><td>-</td><td>></td><td>-</td><td>></td><td>-</td></tr>
    <tr><td>w</td><td>o</td><td>r</td><td>l</td><td>d</td></tr>
    <tr><td>-</td><td><</td><td>-</td><td><</td><td>-</td></tr>
    <tr><td>-5</td><td>-4</td><td>-3</td><td>-2</td><td>-1</td></tr>
</table>

In [40]:
my_str = "world"

#### if - else

In [41]:
if True:
    print("inside the true block")
else:
    print("inside else block")
print("outside if-else, which is always printed")

inside the true block
outside if-else, which is always printed

In [42]:
a = 3
if a == 3:
    print("a is 3")
else:
    print("a is anything except 3")

a is 3

#### Sample problem - contd.
Add the check to not print the cases, where `find` returns -1.<br>
Code reference [Assumption](#Assumption)

In [43]:
user = 'q'
user_index = s.find(user)
if user_index != -1:
    print(e[user_index])
else:
    print("not found")

not found

#### Sample problem  - contd.
In case the user enters a stream of character in the form of string.

In [44]:
user_list = 'ba'

#### for loop
Concept of iterating variable

In [45]:
for item in user_list:
    print(item)

b
a

Continuing with [#Sample-problem----contd.](#Sample-problem----contd.)

In [46]:
user_list = 'ba'
for user in user_list:
    user_index = s.find(user)
    if user_index != -1:
        print(e[user_index])
    else:
        print("not found")

y
x

#### Sample problem - contd.
Now, let's try to print only once using the string concatenation

In [47]:
"hello " + "world"

'hello world'

In [48]:
answer = ""

for user in user_list:
    user_index = s.find(user)
    if user_index != -1:
        answer = answer + e[user_index]
    else:
        print("not found")
        
print(answer)

yx

#### Sample problem - contd.
Lets make a function named `encoder()`

In [49]:
def encoder(user_list):
    pass

#### Example to define function
Difference between print and return inside the function

In [50]:
def my_sum1(s1, s2):
    print("first string " + s1)
    print("second string " + s2)
    return s1 + s2

In [51]:
my_sum1("hello", "world")

first string hello
second string world

'helloworld'

In [52]:
def my_sum2(s1, s2):
    print("first string " + s1)
    print("second string " + s2)
    print(s1 + s2)

In [53]:
my_sum2("hello", "world")

first string hello
second string world
helloworld

#### Sample problem - contd.

In [54]:
def encoder(user_list):
    
    answer = ""

    for user in user_list:
        user_index = s.find(user)
        if user_index != -1:
            answer = answer + e[user_index]
        else:
            print("not found")

    return answer

In [55]:
print(encoder("babb"))

yxyy

In [56]:
a = "abcdedf"

#### Dictionary
represented by key value pair.

In [57]:
d = {'a' : 1, 'b': 2, 'c': 3}

In [58]:
type(d)

dict

In [59]:
for key1 in d:
    print(d[key1])

1
2
3

### Pandas
To define the dataframe use dictionary as input.

In [60]:
import pandas

In [61]:
df = pandas.DataFrame({'a': [1,2], 'b': [3,4]})

In [62]:
df

   a  b
0  1  3
1  2  4

In [63]:
type(df)

pandas.core.frame.DataFrame

In [64]:
len(df)

2

#### Import as alias

In [65]:
import pandas as pd

In [66]:
df = pd.read_csv("physician_rx.csv")

In [67]:
len(df)

100

In [68]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [69]:
df.tail()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

In [70]:
df.shape

(100, 6)

In [71]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [72]:
df.dtypes

PHYSICIAN         object
CroMax_RX        float64
GlycoMax_RX        int64
AllergyMax_RX      int64
FevMax_RX          int64
ColdMax_RX         int64
dtype: object

#### Subset

In [73]:
df[["PHYSICIAN", "AllergyMax_RX"]][0:4]

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [74]:
df.loc[0:4, "PHYSICIAN":"AllergyMax_RX"]

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX
0  AP1912920        0.0           50            510
1  AP1350415     2370.0         1320             60
2  AP0129322        0.0           85              0
3  AP0462902       30.0          570              0
4  AP3185026        0.0           40           1080

In [75]:
df.iloc[0:4, 0:3]

   PHYSICIAN  CroMax_RX  GlycoMax_RX
0  AP1912920        0.0           50
1  AP1350415     2370.0         1320
2  AP0129322        0.0           85
3  AP0462902       30.0          570

#### Sample problem 
Find the records which have CroMax_RX and GlycoMax_RX greater than 50.

In [76]:
# Approach - 1
my_df = df[df["CroMax_RX"] > 50]
my_df[my_df["GlycoMax_RX"] > 50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [77]:
len(df[(df["CroMax_RX"]> 50) & (df["GlycoMax_RX"] > 50)]["PHYSICIAN"])

30

#### Access scalar value

In [78]:
df.iloc[0:1, 0:1]

   PHYSICIAN
0  AP1912920

In [79]:
df.iat[0,0]

'AP1912920'

In [80]:
df.at[0,"PHYSICIAN"]

'AP1912920'

In [81]:
df.iloc[0,0]

'AP1912920'

#### Missing values
- Identify
- Replace 
- Delete

In [82]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [83]:
# Records in which cromax_rx is null.
df[df["CroMax_RX"].isnull()]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
33  AP0464297        NaN          405              0          0          36
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
88  AP0812453        NaN           45              0          0         264

In [84]:
# Replace missing value in cromax_rx by 0.
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)

In [85]:
# Check the count of null values
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [86]:
# Drop the missing values
df = df.dropna()

Check the missing values again.

In [87]:
df.isnull().sum()

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

### Column names
- Re-assign the list of columns to new column names
- Use pandas `rename` function
- Pattern based

In [88]:
df.columns = ['PHY', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX', 'ColdMax_RX']

In [89]:
df.head()

         PHY  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [90]:
df = df.rename(columns={'PHY': 'physician'})

In [91]:
df.head()

   physician  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

##### Recap : String replace

In [92]:
"hello world".replace("l", "z")

'hezzo worzd'

To use string functions in pandas use extension `.str`

In [93]:
df.columns = df.columns.str.replace("_", ".")

In [94]:
df.columns

Index(['physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX',
       'ColdMax.RX'],
      dtype='object')

##### Apply same replace function to rows.

In [95]:
df["physician"] = df["physician"].str.replace("AP", "AB")

In [96]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

#### Sample problem - bucketing
Add the physicians to bucket `B1` in case, GlycoMax.RX and CroMax.RX both are greater than 50. Else place all the physicians to bucket `B2`.

In [97]:
df["bucket"] = "B2"

In [98]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B2
1,AB1350415,2370.0,1320,60,1416,2676,B2
2,AB0129322,0.0,85,0,0,144,B2
3,AB0462902,30.0,570,0,128,3900,B2
4,AB3185026,0.0,40,1080,0,0,B2

In [99]:
df.loc[(df["CroMax.RX"] > 50) & (df["GlycoMax.RX"] > 50), "bucket"] = "B1"

In [100]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B2
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B2
3,AB0462902,30.0,570,0,128,3900,B2
4,AB3185026,0.0,40,1080,0,0,B2

#### Concat two columns

In [101]:
df["new_physician"] = df["bucket"] + "_" + df["physician"]

In [102]:
df.head()

,physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_physician
0,AB1912920,0.0,50,510,152,0,B2,B2_AB1912920
1,AB1350415,2370.0,1320,60,1416,2676,B1,B1_AB1350415
2,AB0129322,0.0,85,0,0,144,B2,B2_AB0129322
3,AB0462902,30.0,570,0,128,3900,B2,B2_AB0462902
4,AB3185026,0.0,40,1080,0,0,B2,B2_AB3185026

#### Sample problem - Reorder columns

In [103]:
df = df[['new_physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX', 'ColdMax.RX']]

In [104]:
df.head()

  new_physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  B2_AB1912920        0.0           50            510        152           0
1  B1_AB1350415     2370.0         1320             60       1416        2676
2  B2_AB0129322        0.0           85              0          0         144
3  B2_AB0462902       30.0          570              0        128        3900
4  B2_AB3185026        0.0           40           1080          0           0

##### Sample problem - Spliting the column into 2 columns

In [105]:
"hello_world".split("_")

['hello', 'world']

In [106]:
df["physician"] = df["new_physician"].str.split("_").str[1]
df["bucket"] = df["new_physician"].str.split("_").str[0]

In [107]:
df.head()

,new_physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,physician,bucket
0,B2_AB1912920,0.0,50,510,152,0,AB1912920,B2
1,B1_AB1350415,2370.0,1320,60,1416,2676,AB1350415,B1
2,B2_AB0129322,0.0,85,0,0,144,AB0129322,B2
3,B2_AB0462902,30.0,570,0,128,3900,AB0462902,B2
4,B2_AB3185026,0.0,40,1080,0,0,AB3185026,B2