## Python workshop - day 2

##### Topics covered:
* github - refer to slides
* built-in data types: tuple
* pandas - duplicates, sorting, for loop, merge
* question using string functions in pandas
* flask - hello world api, request params, sub path params

##### Unpack a collection of items

In [3]:
a,b = [1, 2]

In [4]:
print(a)

1

In [5]:
print(b)

2

##### Unpack only required information from the collection of items

In [9]:
a,b, *_ = [3,4,5,5,6,4]

In [10]:
print(a)

3

In [11]:
print(b)

4

#### Tuple
They share the same behavior as list, except they are immutable.

In [12]:
m = (0,1,2,3)

##### Try to modify the first element of tuple

In [13]:
m[0] = 99

TypeError: 'tuple' object does not support item assignment

#### Pandas - Duplicate data

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame({"a": [1,2,1,2,3], "b": [4,5,4,5,6]})

In [16]:
df

   a  b
0  1  4
1  2  5
2  1  4
3  2  5
4  3  6

In [20]:
# Do not keep anything, consider all records occuring more than once as duplicated.
df.duplicated(keep=False)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [21]:
# Keep the first occurence and consider the rest as duplicated.
df.duplicated(keep='first')

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [22]:
# To identify the left over records which aren't duplicate
df[~df.duplicated(keep="first")]

   a  b
0  1  4
1  2  5
4  3  6

#### Pandas - sorting

In [23]:
df2 = pd.read_csv("physician_rx.csv")

In [24]:
df2.shape

(100, 6)

In [25]:
df2.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [26]:
df2.sort_values(["CroMax_RX", "GlycoMax_RX"])

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
9   AP0728371        0.0            0              0          0           0
27  AP1874350        0.0            0             75          0           0
38  AP1895556        0.0            0             15          0          36
41  AP4321151        0.0            0              0          0         204
75  AP2196115        0.0            0              0          0         384
94  AP2286280        0.0            0              0          0         144
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
20        NaN        0.0           20              0          0          48
52  AP0727498        0.0           20             75          0         120
15  AP2443797        0.0           25              0         72          48
4   AP3185026        0.0           40           1080          0           0
72  AP2152296        0.0           40              0          0         324
43  AP0162284        0.0           45              0          0         696
45  AP1983160        0.0           45            780          0           0
0   AP1912920        0.0           50            510        152           0
28  AP3209293        0.0           55            465          0           0
35  AP0779390        0.0           60              0          0           0
77  AP2014650        0.0           60              0          0          60
47  AP2141780        0.0           65              0          0         288
61  AP1816314        0.0           65              0          0         300
19  AP2166075        0.0           70              0          0          36
91  AP0189854        0.0           70            720          0           0
84  AP0849030        0.0           80            525          0          24
2   AP0129322        0.0           85              0          0         144
18  AP0139724        0.0           85            360          0         480
69  AP1811449        0.0           85              0         88         564
24  AP2214740        0.0           90              0          0           0
80  AP0849708        0.0           90           3495          0           0
34  AP0445910        0.0          105             30          0          24
..        ...        ...          ...            ...        ...         ...
89  AP0433841      120.0           65              0          0           0
68  AP1822470      120.0          330           1200          0         504
59  AP1815618      140.0          110              0         24           0
56  AP1871832      140.0          345              0          0          36
55  AP3632706      140.0          380            165         32           0
26        NaN      150.0          220            510         32        1128
7         NaN      150.0          315            270        184          36
79  AP1336198      150.0          615              0          0           0
11  AP1595288      160.0           35             45          0           0
22  AP2130355      160.0          145              0          0         180
71  AP0118925      160.0          375              0        240           0
23  AP0714887      160.0          780            615         16        2964
53  AP1976314      170.0          495              0        200          24
82  AP1834639      270.0         1240             60         40          60
87  AP2459335      320.0          320              0        256          12
16  AP0036951      330.0          525              0          0           0
40  AP0438309      370.0           85              0          0         780
95  AP1957774      390.0           15              0         16          36
13  AP1365782      400.0           15            255        704         444
96  AP1273998      480.0          630              0          0           0
85  AP0478796      630.0          240            150          0          96
10  AP1934892      640.0          390              0        280           0
29  AP0089696      930.0          250           3435          0         396
57  AP0092627     1360.0         1090            210         24         192
74  AP1869077     1830.0          140              0        488          72
1   AP1350415     2370.0         1320             60       1416        2676
88  AP0812453        NaN           45              0          0         264
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
33  AP0464297        NaN          405              0          0          36

[100 rows x 6 columns]

#### Pandas - For loop

In [27]:
# Traditional for loop which iterate over the columns, do you know why?
for item in df2:
    print(item)

PHYSICIAN
CroMax_RX
GlycoMax_RX
AllergyMax_RX
FevMax_RX
ColdMax_RX

In [29]:
# Can you guess the data type of the item?
for item in df2.iterrows():
    print(item)

(0, PHYSICIAN        AP1912920
CroMax_RX                0
GlycoMax_RX             50
AllergyMax_RX          510
FevMax_RX              152
ColdMax_RX               0
Name: 0, dtype: object)
(1, PHYSICIAN        AP1350415
CroMax_RX             2370
GlycoMax_RX           1320
AllergyMax_RX           60
FevMax_RX             1416
ColdMax_RX            2676
Name: 1, dtype: object)
(2, PHYSICIAN        AP0129322
CroMax_RX                0
GlycoMax_RX             85
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             144
Name: 2, dtype: object)
(3, PHYSICIAN        AP0462902
CroMax_RX               30
GlycoMax_RX            570
AllergyMax_RX            0
FevMax_RX              128
ColdMax_RX            3900
Name: 3, dtype: object)
(4, PHYSICIAN        AP3185026
CroMax_RX                0
GlycoMax_RX             40
AllergyMax_RX         1080
FevMax_RX                0
ColdMax_RX               0
Name: 4, dtype: object)
(5, PHYSICIAN        AP3674571
CroMax_RX               70
GlycoMax_RX             40
AllergyMax_RX            0
FevMax_RX               64
ColdMax_RX               0
Name: 5, dtype: object)
(6, PHYSICIAN        AP0126982
CroMax_RX                0
GlycoMax_RX            135
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 6, dtype: object)
(7, PHYSICIAN        NaN
CroMax_RX        150
GlycoMax_RX      315
AllergyMax_RX    270
FevMax_RX        184
ColdMax_RX        36
Name: 7, dtype: object)
(8, PHYSICIAN        AP1807651
CroMax_RX                0
GlycoMax_RX            650
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             300
Name: 8, dtype: object)
(9, PHYSICIAN        AP0728371
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 9, dtype: object)
(10, PHYSICIAN        AP1934892
CroMax_RX              640
GlycoMax_RX            390
AllergyMax_RX            0
FevMax_RX              280
ColdMax_RX               0
Name: 10, dtype: object)
(11, PHYSICIAN        AP1595288
CroMax_RX              160
GlycoMax_RX             35
AllergyMax_RX           45
FevMax_RX                0
ColdMax_RX               0
Name: 11, dtype: object)
(12, PHYSICIAN        AP1883103
CroMax_RX                0
GlycoMax_RX            225
AllergyMax_RX          240
FevMax_RX                0
ColdMax_RX               0
Name: 12, dtype: object)
(13, PHYSICIAN        AP1365782
CroMax_RX              400
GlycoMax_RX             15
AllergyMax_RX          255
FevMax_RX              704
ColdMax_RX             444
Name: 13, dtype: object)
(14, PHYSICIAN        NaN
CroMax_RX         90
GlycoMax_RX      150
AllergyMax_RX      0
FevMax_RX          0
ColdMax_RX       204
Name: 14, dtype: object)
(15, PHYSICIAN        AP2443797
CroMax_RX                0
GlycoMax_RX             25
AllergyMax_RX            0
FevMax_RX               72
ColdMax_RX              48
Name: 15, dtype: object)
(16, PHYSICIAN        AP0036951
CroMax_RX              330
GlycoMax_RX            525
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 16, dtype: object)
(17, PHYSICIAN        AP3200230
CroMax_RX                0
GlycoMax_RX            135
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 17, dtype: object)
(18, PHYSICIAN        AP0139724
CroMax_RX                0
GlycoMax_RX             85
AllergyMax_RX          360
FevMax_RX                0
ColdMax_RX             480
Name: 18, dtype: object)
(19, PHYSICIAN        AP2166075
CroMax_RX                0
GlycoMax_RX             70
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              36
Name: 19, dtype: object)
(20, PHYSICIAN        NaN
CroMax_RX          0
GlycoMax_RX       20
AllergyMax_RX      0
FevMax_RX          0
ColdMax_RX        48
Name: 20, dtype: object)
(21, PHYSICIAN        AP1332969
CroMax_RX               90
GlycoMax_RX            870
AllergyMax_RX            0
FevMax_RX               88
ColdMax_RX              24
Name: 21, dtype: object)
(22, PHYSICIAN        AP2130355
CroMax_RX              160
GlycoMax_RX            145
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             180
Name: 22, dtype: object)
(23, PHYSICIAN        AP0714887
CroMax_RX              160
GlycoMax_RX            780
AllergyMax_RX          615
FevMax_RX               16
ColdMax_RX            2964
Name: 23, dtype: object)
(24, PHYSICIAN        AP2214740
CroMax_RX                0
GlycoMax_RX             90
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 24, dtype: object)
(25, PHYSICIAN        AP0857188
CroMax_RX                0
GlycoMax_RX            130
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             588
Name: 25, dtype: object)
(26, PHYSICIAN         NaN
CroMax_RX         150
GlycoMax_RX       220
AllergyMax_RX     510
FevMax_RX          32
ColdMax_RX       1128
Name: 26, dtype: object)
(27, PHYSICIAN        AP1874350
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX           75
FevMax_RX                0
ColdMax_RX               0
Name: 27, dtype: object)
(28, PHYSICIAN        AP3209293
CroMax_RX                0
GlycoMax_RX             55
AllergyMax_RX          465
FevMax_RX                0
ColdMax_RX               0
Name: 28, dtype: object)
(29, PHYSICIAN        AP0089696
CroMax_RX              930
GlycoMax_RX            250
AllergyMax_RX         3435
FevMax_RX                0
ColdMax_RX             396
Name: 29, dtype: object)
(30, PHYSICIAN        AP0481633
CroMax_RX                0
GlycoMax_RX            340
AllergyMax_RX           45
FevMax_RX              280
ColdMax_RX               0
Name: 30, dtype: object)
(31, PHYSICIAN        AP0692473
CroMax_RX               90
GlycoMax_RX            215
AllergyMax_RX          375
FevMax_RX                0
ColdMax_RX             348
Name: 31, dtype: object)
(32, PHYSICIAN        AP0406810
CroMax_RX                0
GlycoMax_RX            110
AllergyMax_RX         1230
FevMax_RX                0
ColdMax_RX              36
Name: 32, dtype: object)
(33, PHYSICIAN        AP0464297
CroMax_RX              NaN
GlycoMax_RX            405
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              36
Name: 33, dtype: object)
(34, PHYSICIAN        AP0445910
CroMax_RX                0
GlycoMax_RX            105
AllergyMax_RX           30
FevMax_RX                0
ColdMax_RX              24
Name: 34, dtype: object)
(35, PHYSICIAN        AP0779390
CroMax_RX                0
GlycoMax_RX             60
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 35, dtype: object)
(36, PHYSICIAN        AP2215776
CroMax_RX                0
GlycoMax_RX            345
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             252
Name: 36, dtype: object)
(37, PHYSICIAN        AP0694081
CroMax_RX                0
GlycoMax_RX            110
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             144
Name: 37, dtype: object)
(38, PHYSICIAN        AP1895556
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX           15
FevMax_RX                0
ColdMax_RX              36
Name: 38, dtype: object)
(39, PHYSICIAN        AP2174419
CroMax_RX               20
GlycoMax_RX            125
AllergyMax_RX           15
FevMax_RX               64
ColdMax_RX              24
Name: 39, dtype: object)
(40, PHYSICIAN        AP0438309
CroMax_RX              370
GlycoMax_RX             85
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             780
Name: 40, dtype: object)
(41, PHYSICIAN        AP4321151
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             204
Name: 41, dtype: object)
(42, PHYSICIAN        AP1326350
CroMax_RX               80
GlycoMax_RX            250
AllergyMax_RX          690
FevMax_RX              128
ColdMax_RX              48
Name: 42, dtype: object)
(43, PHYSICIAN        AP0162284
CroMax_RX                0
GlycoMax_RX             45
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             696
Name: 43, dtype: object)
(44, PHYSICIAN        AP2405857
CroMax_RX               20
GlycoMax_RX             55
AllergyMax_RX            0
FevMax_RX              104
ColdMax_RX             240
Name: 44, dtype: object)
(45, PHYSICIAN        AP1983160
CroMax_RX                0
GlycoMax_RX             45
AllergyMax_RX          780
FevMax_RX                0
ColdMax_RX               0
Name: 45, dtype: object)
(46, PHYSICIAN        AP0126647
CroMax_RX                0
GlycoMax_RX            210
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             180
Name: 46, dtype: object)
(47, PHYSICIAN        AP2141780
CroMax_RX                0
GlycoMax_RX             65
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             288
Name: 47, dtype: object)
(48, PHYSICIAN        AP1948690
CroMax_RX              NaN
GlycoMax_RX            105
AllergyMax_RX          690
FevMax_RX                8
ColdMax_RX               0
Name: 48, dtype: object)
(49, PHYSICIAN        AP0813944
CroMax_RX               50
GlycoMax_RX              0
AllergyMax_RX          975
FevMax_RX                0
ColdMax_RX               0
Name: 49, dtype: object)
(50, PHYSICIAN        AP3205369
CroMax_RX               30
GlycoMax_RX             15
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 50, dtype: object)
(51, PHYSICIAN        AP1325007
CroMax_RX               30
GlycoMax_RX             45
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 51, dtype: object)
(52, PHYSICIAN        AP0727498
CroMax_RX                0
GlycoMax_RX             20
AllergyMax_RX           75
FevMax_RX                0
ColdMax_RX             120
Name: 52, dtype: object)
(53, PHYSICIAN        AP1976314
CroMax_RX              170
GlycoMax_RX            495
AllergyMax_RX            0
FevMax_RX              200
ColdMax_RX              24
Name: 53, dtype: object)
(54, PHYSICIAN        AP0813539
CroMax_RX                0
GlycoMax_RX            340
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             516
Name: 54, dtype: object)
(55, PHYSICIAN        AP3632706
CroMax_RX              140
GlycoMax_RX            380
AllergyMax_RX          165
FevMax_RX               32
ColdMax_RX               0
Name: 55, dtype: object)
(56, PHYSICIAN        AP1871832
CroMax_RX              140
GlycoMax_RX            345
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              36
Name: 56, dtype: object)
(57, PHYSICIAN        AP0092627
CroMax_RX             1360
GlycoMax_RX           1090
AllergyMax_RX          210
FevMax_RX               24
ColdMax_RX             192
Name: 57, dtype: object)
(58, PHYSICIAN        AP0684454
CroMax_RX               50
GlycoMax_RX             15
AllergyMax_RX          105
FevMax_RX                0
ColdMax_RX             216
Name: 58, dtype: object)
(59, PHYSICIAN        AP1815618
CroMax_RX              140
GlycoMax_RX            110
AllergyMax_RX            0
FevMax_RX               24
ColdMax_RX               0
Name: 59, dtype: object)
(60, PHYSICIAN        AP1336947
CroMax_RX                0
GlycoMax_RX            275
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             324
Name: 60, dtype: object)
(61, PHYSICIAN        AP1816314
CroMax_RX                0
GlycoMax_RX             65
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             300
Name: 61, dtype: object)
(62, PHYSICIAN        AP0794316
CroMax_RX                0
GlycoMax_RX            205
AllergyMax_RX         1245
FevMax_RX                0
ColdMax_RX               0
Name: 62, dtype: object)
(63, PHYSICIAN        AP2010286
CroMax_RX                0
GlycoMax_RX            175
AllergyMax_RX          210
FevMax_RX                0
ColdMax_RX               0
Name: 63, dtype: object)
(64, PHYSICIAN        AP0093884
CroMax_RX               80
GlycoMax_RX             65
AllergyMax_RX         1365
FevMax_RX                0
ColdMax_RX               0
Name: 64, dtype: object)
(65, PHYSICIAN        AP2102094
CroMax_RX              NaN
GlycoMax_RX            220
AllergyMax_RX            0
FevMax_RX              432
ColdMax_RX             216
Name: 65, dtype: object)
(66, PHYSICIAN        AP2940337
CroMax_RX                0
GlycoMax_RX            255
AllergyMax_RX           45
FevMax_RX               48
ColdMax_RX               0
Name: 66, dtype: object)
(67, PHYSICIAN        AP0476079
CroMax_RX               80
GlycoMax_RX             70
AllergyMax_RX           75
FevMax_RX                0
ColdMax_RX               0
Name: 67, dtype: object)
(68, PHYSICIAN        AP1822470
CroMax_RX              120
GlycoMax_RX            330
AllergyMax_RX         1200
FevMax_RX                0
ColdMax_RX             504
Name: 68, dtype: object)
(69, PHYSICIAN        AP1811449
CroMax_RX                0
GlycoMax_RX             85
AllergyMax_RX            0
FevMax_RX               88
ColdMax_RX             564
Name: 69, dtype: object)
(70, PHYSICIAN        AP0683877
CroMax_RX               50
GlycoMax_RX             90
AllergyMax_RX          240
FevMax_RX                0
ColdMax_RX               0
Name: 70, dtype: object)
(71, PHYSICIAN        AP0118925
CroMax_RX              160
GlycoMax_RX            375
AllergyMax_RX            0
FevMax_RX              240
ColdMax_RX               0
Name: 71, dtype: object)
(72, PHYSICIAN        AP2152296
CroMax_RX                0
GlycoMax_RX             40
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             324
Name: 72, dtype: object)
(73, PHYSICIAN        AP1343639
CroMax_RX               10
GlycoMax_RX             45
AllergyMax_RX            0
FevMax_RX               24
ColdMax_RX             528
Name: 73, dtype: object)
(74, PHYSICIAN        AP1869077
CroMax_RX             1830
GlycoMax_RX            140
AllergyMax_RX            0
FevMax_RX              488
ColdMax_RX              72
Name: 74, dtype: object)
(75, PHYSICIAN        AP2196115
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             384
Name: 75, dtype: object)
(76, PHYSICIAN        AP1230067
CroMax_RX              110
GlycoMax_RX             70
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 76, dtype: object)
(77, PHYSICIAN        AP2014650
CroMax_RX                0
GlycoMax_RX             60
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              60
Name: 77, dtype: object)
(78, PHYSICIAN        AP2281620
CroMax_RX                0
GlycoMax_RX            255
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              36
Name: 78, dtype: object)
(79, PHYSICIAN        AP1336198
CroMax_RX              150
GlycoMax_RX            615
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 79, dtype: object)
(80, PHYSICIAN        AP0849708
CroMax_RX                0
GlycoMax_RX             90
AllergyMax_RX         3495
FevMax_RX                0
ColdMax_RX               0
Name: 80, dtype: object)
(81, PHYSICIAN        AP2113896
CroMax_RX               20
GlycoMax_RX             30
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 81, dtype: object)
(82, PHYSICIAN        AP1834639
CroMax_RX              270
GlycoMax_RX           1240
AllergyMax_RX           60
FevMax_RX               40
ColdMax_RX              60
Name: 82, dtype: object)
(83, PHYSICIAN        AP0455565
CroMax_RX                0
GlycoMax_RX            105
AllergyMax_RX          810
FevMax_RX               24
ColdMax_RX            1896
Name: 83, dtype: object)
(84, PHYSICIAN        AP0849030
CroMax_RX                0
GlycoMax_RX             80
AllergyMax_RX          525
FevMax_RX                0
ColdMax_RX              24
Name: 84, dtype: object)
(85, PHYSICIAN        AP0478796
CroMax_RX              630
GlycoMax_RX            240
AllergyMax_RX          150
FevMax_RX                0
ColdMax_RX              96
Name: 85, dtype: object)
(86, PHYSICIAN        AP3589376
CroMax_RX                0
GlycoMax_RX            135
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              72
Name: 86, dtype: object)
(87, PHYSICIAN        AP2459335
CroMax_RX              320
GlycoMax_RX            320
AllergyMax_RX            0
FevMax_RX              256
ColdMax_RX              12
Name: 87, dtype: object)
(88, PHYSICIAN        AP0812453
CroMax_RX              NaN
GlycoMax_RX             45
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             264
Name: 88, dtype: object)
(89, PHYSICIAN        AP0433841
CroMax_RX              120
GlycoMax_RX             65
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 89, dtype: object)
(90, PHYSICIAN        AP1947403
CroMax_RX                0
GlycoMax_RX            240
AllergyMax_RX            0
FevMax_RX                8
ColdMax_RX             156
Name: 90, dtype: object)
(91, PHYSICIAN        AP0189854
CroMax_RX                0
GlycoMax_RX             70
AllergyMax_RX          720
FevMax_RX                0
ColdMax_RX               0
Name: 91, dtype: object)
(92, PHYSICIAN        AP3883979
CroMax_RX                0
GlycoMax_RX            255
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             132
Name: 92, dtype: object)
(93, PHYSICIAN        AP0390218
CroMax_RX                0
GlycoMax_RX            105
AllergyMax_RX          180
FevMax_RX               40
ColdMax_RX               0
Name: 93, dtype: object)
(94, PHYSICIAN        AP2286280
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             144
Name: 94, dtype: object)
(95, PHYSICIAN        AP1957774
CroMax_RX              390
GlycoMax_RX             15
AllergyMax_RX            0
FevMax_RX               16
ColdMax_RX              36
Name: 95, dtype: object)
(96, PHYSICIAN        AP1273998
CroMax_RX              480
GlycoMax_RX            630
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 96, dtype: object)
(97, PHYSICIAN        AP1228990
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             180
Name: 97, dtype: object)
(98, PHYSICIAN        AP1881803
CroMax_RX                0
GlycoMax_RX             10
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 98, dtype: object)
(99, PHYSICIAN        AP4772804
CroMax_RX               10
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 99, dtype: object)

In [31]:
# If its a tuple, can we unpack it?
for index, row in df2.iterrows():
    print(index)
    print(row)
    print("")

0
PHYSICIAN        AP1912920
CroMax_RX                0
GlycoMax_RX             50
AllergyMax_RX          510
FevMax_RX              152
ColdMax_RX               0
Name: 0, dtype: object

1
PHYSICIAN        AP1350415
CroMax_RX             2370
GlycoMax_RX           1320
AllergyMax_RX           60
FevMax_RX             1416
ColdMax_RX            2676
Name: 1, dtype: object

2
PHYSICIAN        AP0129322
CroMax_RX                0
GlycoMax_RX             85
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             144
Name: 2, dtype: object

3
PHYSICIAN        AP0462902
CroMax_RX               30
GlycoMax_RX            570
AllergyMax_RX            0
FevMax_RX              128
ColdMax_RX            3900
Name: 3, dtype: object

4
PHYSICIAN        AP3185026
CroMax_RX                0
GlycoMax_RX             40
AllergyMax_RX         1080
FevMax_RX                0
ColdMax_RX               0
Name: 4, dtype: object

5
PHYSICIAN        AP3674571
CroMax_RX               70
GlycoMax_RX             40
AllergyMax_RX            0
FevMax_RX               64
ColdMax_RX               0
Name: 5, dtype: object

6
PHYSICIAN        AP0126982
CroMax_RX                0
GlycoMax_RX            135
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 6, dtype: object

7
PHYSICIAN        NaN
CroMax_RX        150
GlycoMax_RX      315
AllergyMax_RX    270
FevMax_RX        184
ColdMax_RX        36
Name: 7, dtype: object

8
PHYSICIAN        AP1807651
CroMax_RX                0
GlycoMax_RX            650
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             300
Name: 8, dtype: object

9
PHYSICIAN        AP0728371
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 9, dtype: object

10
PHYSICIAN        AP1934892
CroMax_RX              640
GlycoMax_RX            390
AllergyMax_RX            0
FevMax_RX              280
ColdMax_RX               0
Name: 10, dtype: object

11
PHYSICIAN        AP1595288
CroMax_RX              160
GlycoMax_RX             35
AllergyMax_RX           45
FevMax_RX                0
ColdMax_RX               0
Name: 11, dtype: object

12
PHYSICIAN        AP1883103
CroMax_RX                0
GlycoMax_RX            225
AllergyMax_RX          240
FevMax_RX                0
ColdMax_RX               0
Name: 12, dtype: object

13
PHYSICIAN        AP1365782
CroMax_RX              400
GlycoMax_RX             15
AllergyMax_RX          255
FevMax_RX              704
ColdMax_RX             444
Name: 13, dtype: object

14
PHYSICIAN        NaN
CroMax_RX         90
GlycoMax_RX      150
AllergyMax_RX      0
FevMax_RX          0
ColdMax_RX       204
Name: 14, dtype: object

15
PHYSICIAN        AP2443797
CroMax_RX                0
GlycoMax_RX             25
AllergyMax_RX            0
FevMax_RX               72
ColdMax_RX              48
Name: 15, dtype: object

16
PHYSICIAN        AP0036951
CroMax_RX              330
GlycoMax_RX            525
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 16, dtype: object

17
PHYSICIAN        AP3200230
CroMax_RX                0
GlycoMax_RX            135
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 17, dtype: object

18
PHYSICIAN        AP0139724
CroMax_RX                0
GlycoMax_RX             85
AllergyMax_RX          360
FevMax_RX                0
ColdMax_RX             480
Name: 18, dtype: object

19
PHYSICIAN        AP2166075
CroMax_RX                0
GlycoMax_RX             70
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              36
Name: 19, dtype: object

20
PHYSICIAN        NaN
CroMax_RX          0
GlycoMax_RX       20
AllergyMax_RX      0
FevMax_RX          0
ColdMax_RX        48
Name: 20, dtype: object

21
PHYSICIAN        AP1332969
CroMax_RX               90
GlycoMax_RX            870
AllergyMax_RX            0
FevMax_RX               88
ColdMax_RX              24
Name: 21, dtype: object

22
PHYSICIAN        AP2130355
CroMax_RX              160
GlycoMax_RX            145
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             180
Name: 22, dtype: object

23
PHYSICIAN        AP0714887
CroMax_RX              160
GlycoMax_RX            780
AllergyMax_RX          615
FevMax_RX               16
ColdMax_RX            2964
Name: 23, dtype: object

24
PHYSICIAN        AP2214740
CroMax_RX                0
GlycoMax_RX             90
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 24, dtype: object

25
PHYSICIAN        AP0857188
CroMax_RX                0
GlycoMax_RX            130
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             588
Name: 25, dtype: object

26
PHYSICIAN         NaN
CroMax_RX         150
GlycoMax_RX       220
AllergyMax_RX     510
FevMax_RX          32
ColdMax_RX       1128
Name: 26, dtype: object

27
PHYSICIAN        AP1874350
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX           75
FevMax_RX                0
ColdMax_RX               0
Name: 27, dtype: object

28
PHYSICIAN        AP3209293
CroMax_RX                0
GlycoMax_RX             55
AllergyMax_RX          465
FevMax_RX                0
ColdMax_RX               0
Name: 28, dtype: object

29
PHYSICIAN        AP0089696
CroMax_RX              930
GlycoMax_RX            250
AllergyMax_RX         3435
FevMax_RX                0
ColdMax_RX             396
Name: 29, dtype: object

30
PHYSICIAN        AP0481633
CroMax_RX                0
GlycoMax_RX            340
AllergyMax_RX           45
FevMax_RX              280
ColdMax_RX               0
Name: 30, dtype: object

31
PHYSICIAN        AP0692473
CroMax_RX               90
GlycoMax_RX            215
AllergyMax_RX          375
FevMax_RX                0
ColdMax_RX             348
Name: 31, dtype: object

32
PHYSICIAN        AP0406810
CroMax_RX                0
GlycoMax_RX            110
AllergyMax_RX         1230
FevMax_RX                0
ColdMax_RX              36
Name: 32, dtype: object

33
PHYSICIAN        AP0464297
CroMax_RX              NaN
GlycoMax_RX            405
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              36
Name: 33, dtype: object

34
PHYSICIAN        AP0445910
CroMax_RX                0
GlycoMax_RX            105
AllergyMax_RX           30
FevMax_RX                0
ColdMax_RX              24
Name: 34, dtype: object

35
PHYSICIAN        AP0779390
CroMax_RX                0
GlycoMax_RX             60
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 35, dtype: object

36
PHYSICIAN        AP2215776
CroMax_RX                0
GlycoMax_RX            345
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             252
Name: 36, dtype: object

37
PHYSICIAN        AP0694081
CroMax_RX                0
GlycoMax_RX            110
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             144
Name: 37, dtype: object

38
PHYSICIAN        AP1895556
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX           15
FevMax_RX                0
ColdMax_RX              36
Name: 38, dtype: object

39
PHYSICIAN        AP2174419
CroMax_RX               20
GlycoMax_RX            125
AllergyMax_RX           15
FevMax_RX               64
ColdMax_RX              24
Name: 39, dtype: object

40
PHYSICIAN        AP0438309
CroMax_RX              370
GlycoMax_RX             85
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             780
Name: 40, dtype: object

41
PHYSICIAN        AP4321151
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             204
Name: 41, dtype: object

42
PHYSICIAN        AP1326350
CroMax_RX               80
GlycoMax_RX            250
AllergyMax_RX          690
FevMax_RX              128
ColdMax_RX              48
Name: 42, dtype: object

43
PHYSICIAN        AP0162284
CroMax_RX                0
GlycoMax_RX             45
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             696
Name: 43, dtype: object

44
PHYSICIAN        AP2405857
CroMax_RX               20
GlycoMax_RX             55
AllergyMax_RX            0
FevMax_RX              104
ColdMax_RX             240
Name: 44, dtype: object

45
PHYSICIAN        AP1983160
CroMax_RX                0
GlycoMax_RX             45
AllergyMax_RX          780
FevMax_RX                0
ColdMax_RX               0
Name: 45, dtype: object

46
PHYSICIAN        AP0126647
CroMax_RX                0
GlycoMax_RX            210
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             180
Name: 46, dtype: object

47
PHYSICIAN        AP2141780
CroMax_RX                0
GlycoMax_RX             65
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             288
Name: 47, dtype: object

48
PHYSICIAN        AP1948690
CroMax_RX              NaN
GlycoMax_RX            105
AllergyMax_RX          690
FevMax_RX                8
ColdMax_RX               0
Name: 48, dtype: object

49
PHYSICIAN        AP0813944
CroMax_RX               50
GlycoMax_RX              0
AllergyMax_RX          975
FevMax_RX                0
ColdMax_RX               0
Name: 49, dtype: object

50
PHYSICIAN        AP3205369
CroMax_RX               30
GlycoMax_RX             15
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 50, dtype: object

51
PHYSICIAN        AP1325007
CroMax_RX               30
GlycoMax_RX             45
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 51, dtype: object

52
PHYSICIAN        AP0727498
CroMax_RX                0
GlycoMax_RX             20
AllergyMax_RX           75
FevMax_RX                0
ColdMax_RX             120
Name: 52, dtype: object

53
PHYSICIAN        AP1976314
CroMax_RX              170
GlycoMax_RX            495
AllergyMax_RX            0
FevMax_RX              200
ColdMax_RX              24
Name: 53, dtype: object

54
PHYSICIAN        AP0813539
CroMax_RX                0
GlycoMax_RX            340
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             516
Name: 54, dtype: object

55
PHYSICIAN        AP3632706
CroMax_RX              140
GlycoMax_RX            380
AllergyMax_RX          165
FevMax_RX               32
ColdMax_RX               0
Name: 55, dtype: object

56
PHYSICIAN        AP1871832
CroMax_RX              140
GlycoMax_RX            345
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              36
Name: 56, dtype: object

57
PHYSICIAN        AP0092627
CroMax_RX             1360
GlycoMax_RX           1090
AllergyMax_RX          210
FevMax_RX               24
ColdMax_RX             192
Name: 57, dtype: object

58
PHYSICIAN        AP0684454
CroMax_RX               50
GlycoMax_RX             15
AllergyMax_RX          105
FevMax_RX                0
ColdMax_RX             216
Name: 58, dtype: object

59
PHYSICIAN        AP1815618
CroMax_RX              140
GlycoMax_RX            110
AllergyMax_RX            0
FevMax_RX               24
ColdMax_RX               0
Name: 59, dtype: object

60
PHYSICIAN        AP1336947
CroMax_RX                0
GlycoMax_RX            275
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             324
Name: 60, dtype: object

61
PHYSICIAN        AP1816314
CroMax_RX                0
GlycoMax_RX             65
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             300
Name: 61, dtype: object

62
PHYSICIAN        AP0794316
CroMax_RX                0
GlycoMax_RX            205
AllergyMax_RX         1245
FevMax_RX                0
ColdMax_RX               0
Name: 62, dtype: object

63
PHYSICIAN        AP2010286
CroMax_RX                0
GlycoMax_RX            175
AllergyMax_RX          210
FevMax_RX                0
ColdMax_RX               0
Name: 63, dtype: object

64
PHYSICIAN        AP0093884
CroMax_RX               80
GlycoMax_RX             65
AllergyMax_RX         1365
FevMax_RX                0
ColdMax_RX               0
Name: 64, dtype: object

65
PHYSICIAN        AP2102094
CroMax_RX              NaN
GlycoMax_RX            220
AllergyMax_RX            0
FevMax_RX              432
ColdMax_RX             216
Name: 65, dtype: object

66
PHYSICIAN        AP2940337
CroMax_RX                0
GlycoMax_RX            255
AllergyMax_RX           45
FevMax_RX               48
ColdMax_RX               0
Name: 66, dtype: object

67
PHYSICIAN        AP0476079
CroMax_RX               80
GlycoMax_RX             70
AllergyMax_RX           75
FevMax_RX                0
ColdMax_RX               0
Name: 67, dtype: object

68
PHYSICIAN        AP1822470
CroMax_RX              120
GlycoMax_RX            330
AllergyMax_RX         1200
FevMax_RX                0
ColdMax_RX             504
Name: 68, dtype: object

69
PHYSICIAN        AP1811449
CroMax_RX                0
GlycoMax_RX             85
AllergyMax_RX            0
FevMax_RX               88
ColdMax_RX             564
Name: 69, dtype: object

70
PHYSICIAN        AP0683877
CroMax_RX               50
GlycoMax_RX             90
AllergyMax_RX          240
FevMax_RX                0
ColdMax_RX               0
Name: 70, dtype: object

71
PHYSICIAN        AP0118925
CroMax_RX              160
GlycoMax_RX            375
AllergyMax_RX            0
FevMax_RX              240
ColdMax_RX               0
Name: 71, dtype: object

72
PHYSICIAN        AP2152296
CroMax_RX                0
GlycoMax_RX             40
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             324
Name: 72, dtype: object

73
PHYSICIAN        AP1343639
CroMax_RX               10
GlycoMax_RX             45
AllergyMax_RX            0
FevMax_RX               24
ColdMax_RX             528
Name: 73, dtype: object

74
PHYSICIAN        AP1869077
CroMax_RX             1830
GlycoMax_RX            140
AllergyMax_RX            0
FevMax_RX              488
ColdMax_RX              72
Name: 74, dtype: object

75
PHYSICIAN        AP2196115
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             384
Name: 75, dtype: object

76
PHYSICIAN        AP1230067
CroMax_RX              110
GlycoMax_RX             70
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 76, dtype: object

77
PHYSICIAN        AP2014650
CroMax_RX                0
GlycoMax_RX             60
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              60
Name: 77, dtype: object

78
PHYSICIAN        AP2281620
CroMax_RX                0
GlycoMax_RX            255
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              36
Name: 78, dtype: object

79
PHYSICIAN        AP1336198
CroMax_RX              150
GlycoMax_RX            615
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 79, dtype: object

80
PHYSICIAN        AP0849708
CroMax_RX                0
GlycoMax_RX             90
AllergyMax_RX         3495
FevMax_RX                0
ColdMax_RX               0
Name: 80, dtype: object

81
PHYSICIAN        AP2113896
CroMax_RX               20
GlycoMax_RX             30
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 81, dtype: object

82
PHYSICIAN        AP1834639
CroMax_RX              270
GlycoMax_RX           1240
AllergyMax_RX           60
FevMax_RX               40
ColdMax_RX              60
Name: 82, dtype: object

83
PHYSICIAN        AP0455565
CroMax_RX                0
GlycoMax_RX            105
AllergyMax_RX          810
FevMax_RX               24
ColdMax_RX            1896
Name: 83, dtype: object

84
PHYSICIAN        AP0849030
CroMax_RX                0
GlycoMax_RX             80
AllergyMax_RX          525
FevMax_RX                0
ColdMax_RX              24
Name: 84, dtype: object

85
PHYSICIAN        AP0478796
CroMax_RX              630
GlycoMax_RX            240
AllergyMax_RX          150
FevMax_RX                0
ColdMax_RX              96
Name: 85, dtype: object

86
PHYSICIAN        AP3589376
CroMax_RX                0
GlycoMax_RX            135
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX              72
Name: 86, dtype: object

87
PHYSICIAN        AP2459335
CroMax_RX              320
GlycoMax_RX            320
AllergyMax_RX            0
FevMax_RX              256
ColdMax_RX              12
Name: 87, dtype: object

88
PHYSICIAN        AP0812453
CroMax_RX              NaN
GlycoMax_RX             45
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             264
Name: 88, dtype: object

89
PHYSICIAN        AP0433841
CroMax_RX              120
GlycoMax_RX             65
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 89, dtype: object

90
PHYSICIAN        AP1947403
CroMax_RX                0
GlycoMax_RX            240
AllergyMax_RX            0
FevMax_RX                8
ColdMax_RX             156
Name: 90, dtype: object

91
PHYSICIAN        AP0189854
CroMax_RX                0
GlycoMax_RX             70
AllergyMax_RX          720
FevMax_RX                0
ColdMax_RX               0
Name: 91, dtype: object

92
PHYSICIAN        AP3883979
CroMax_RX                0
GlycoMax_RX            255
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             132
Name: 92, dtype: object

93
PHYSICIAN        AP0390218
CroMax_RX                0
GlycoMax_RX            105
AllergyMax_RX          180
FevMax_RX               40
ColdMax_RX               0
Name: 93, dtype: object

94
PHYSICIAN        AP2286280
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             144
Name: 94, dtype: object

95
PHYSICIAN        AP1957774
CroMax_RX              390
GlycoMax_RX             15
AllergyMax_RX            0
FevMax_RX               16
ColdMax_RX              36
Name: 95, dtype: object

96
PHYSICIAN        AP1273998
CroMax_RX              480
GlycoMax_RX            630
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 96, dtype: object

97
PHYSICIAN        AP1228990
CroMax_RX                0
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX             180
Name: 97, dtype: object

98
PHYSICIAN        AP1881803
CroMax_RX                0
GlycoMax_RX             10
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 98, dtype: object

99
PHYSICIAN        AP4772804
CroMax_RX               10
GlycoMax_RX              0
AllergyMax_RX            0
FevMax_RX                0
ColdMax_RX               0
Name: 99, dtype: object

In [32]:
# Finally to print each cell, subset over the PHYSICIAN.
for index, row in df2.iterrows():
    print(index)
    print(row["PHYSICIAN"])
    print("")

0
AP1912920

1
AP1350415

2
AP0129322

3
AP0462902

4
AP3185026

5
AP3674571

6
AP0126982

7
nan

8
AP1807651

9
AP0728371

10
AP1934892

11
AP1595288

12
AP1883103

13
AP1365782

14
nan

15
AP2443797

16
AP0036951

17
AP3200230

18
AP0139724

19
AP2166075

20
nan

21
AP1332969

22
AP2130355

23
AP0714887

24
AP2214740

25
AP0857188

26
nan

27
AP1874350

28
AP3209293

29
AP0089696

30
AP0481633

31
AP0692473

32
AP0406810

33
AP0464297

34
AP0445910

35
AP0779390

36
AP2215776

37
AP0694081

38
AP1895556

39
AP2174419

40
AP0438309

41
AP4321151

42
AP1326350

43
AP0162284

44
AP2405857

45
AP1983160

46
AP0126647

47
AP2141780

48
AP1948690

49
AP0813944

50
AP3205369

51
AP1325007

52
AP0727498

53
AP1976314

54
AP0813539

55
AP3632706

56
AP1871832

57
AP0092627

58
AP0684454

59
AP1815618

60
AP1336947

61
AP1816314

62
AP0794316

63
AP2010286

64
AP0093884

65
AP2102094

66
AP2940337

67
AP0476079

68
AP1822470

69
AP1811449

70
AP0683877

71
AP0118925

72
AP2152296

73
AP1343639

74
AP1869077

75
AP2196115

76
AP1230067

77
AP2014650

78
AP2281620

79
AP1336198

80
AP0849708

81
AP2113896

82
AP1834639

83
AP0455565

84
AP0849030

85
AP0478796

86
AP3589376

87
AP2459335

88
AP0812453

89
AP0433841

90
AP1947403

91
AP0189854

92
AP3883979

93
AP0390218

94
AP2286280

95
AP1957774

96
AP1273998

97
AP1228990

98
AP1881803

99
AP4772804

#### Sample problem - find the physician which contain '5' in their Ids.

In [35]:
df2 = pd.read_csv("physician_rx.csv")
df2 = df2.dropna()
df2[df2["PHYSICIAN"].str.find("5") != -1]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
8   AP1807651        0.0          650              0          0         300
11  AP1595288      160.0           35             45          0           0
13  AP1365782      400.0           15            255        704         444
16  AP0036951      330.0          525              0          0           0
19  AP2166075        0.0           70              0          0          36
22  AP2130355      160.0          145              0          0         180
25  AP0857188        0.0          130              0          0         588
27  AP1874350        0.0            0             75          0           0
34  AP0445910        0.0          105             30          0          24
36  AP2215776        0.0          345              0          0         252
38  AP1895556        0.0            0             15          0          36
41  AP4321151        0.0            0              0          0         204
42  AP1326350       80.0          250            690        128          48
44  AP2405857       20.0           55              0        104         240
50  AP3205369       30.0           15              0          0           0
51  AP1325007       30.0           45              0          0           0
54  AP0813539        0.0          340              0          0         516
58  AP0684454       50.0           15            105          0         216
59  AP1815618      140.0          110              0         24           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
75  AP2196115        0.0            0              0          0         384
77  AP2014650        0.0           60              0          0          60
83  AP0455565        0.0          105            810         24        1896
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
91  AP0189854        0.0           70            720          0           0
95  AP1957774      390.0           15              0         16          36

#### Sample problem - extended
Find the physicians which have their Ids ending with 5.

In [36]:
# Is this solution correct? Why not?
df2[df2["PHYSICIAN"].str.find("5") == 8]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
19  AP2166075        0.0           70              0          0          36
71  AP0118925      160.0          375              0        240           0
75  AP2196115        0.0            0              0          0         384

In [37]:
# Hint:
"hellol".find("l")

2

In [38]:
# Alternate approach - 1
df2[df2["PHYSICIAN"].str.endswith("5")]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
19  AP2166075        0.0           70              0          0          36
22  AP2130355      160.0          145              0          0         180
71  AP0118925      160.0          375              0        240           0
75  AP2196115        0.0            0              0          0         384
83  AP0455565        0.0          105            810         24        1896
87  AP2459335      320.0          320              0        256          12

In [39]:
# Alternate approach - 2
df2[df2["PHYSICIAN"].str.rfind("5") == 8]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
19  AP2166075        0.0           70              0          0          36
22  AP2130355      160.0          145              0          0         180
71  AP0118925      160.0          375              0        240           0
75  AP2196115        0.0            0              0          0         384
83  AP0455565        0.0          105            810         24        1896
87  AP2459335      320.0          320              0        256          12

#### Pandas - merge
Types of merge
- left 
- right
- inner
- outer

In [40]:
right_df = pd.DataFrame({'key': ['a', 'b'],'rval': [4, 5]})
left_df = pd.DataFrame({'key': ['a', 'b'],'lval': [1, 2]})

In [41]:
right_df

  key  rval
0   a     4
1   b     5

In [42]:
left_df

  key  lval
0   a     1
1   b     2

In [44]:
# Type of merge?
pd.merge(left_df, right_df)

  key  lval  rval
0   a     1     4
1   b     2     5

In [45]:
right_df = pd.DataFrame({'key': ['a', 'b', 'c'], 'rval': [4, 5, 6]})
left_df = pd.DataFrame({'key': ['a', 'b', 'd'], 'lval': [1, 2, 3]})

In [46]:
pd.merge(left_df, right_df)

  key  lval  rval
0   a     1     4
1   b     2     5

In [47]:
pd.merge(left_df, right_df, how='left')

  key  lval  rval
0   a     1   4.0
1   b     2   5.0
2   d     3   NaN

In [48]:
pd.merge(left_df, right_df, how='right')

  key  lval  rval
0   a   1.0     4
1   b   2.0     5
2   c   NaN     6

In [57]:
# duplicate keys
right_df = pd.DataFrame({'key': ['a', 'a', 'b'], 'rval': [4, 5, 6]})
left_df = pd.DataFrame({'key': ['a', 'a', 'b'], 'lval': [1, 2, 3]})

In [54]:
pd.merge(left_df, right_df)

  key  lval  rval
0   a     1     4
1   a     1     5
2   a     2     4
3   a     2     5
4   b     3     6

In [55]:
pd.merge(left_df, right_df, how='left')

  key  lval  rval
0   a     1     4
1   a     1     5
2   a     2     4
3   a     2     5
4   b     3     6

In [56]:
pd.merge(left_df, right_df, how='right')

  key  lval  rval
0   a     1     4
1   a     2     4
2   a     1     5
3   a     2     5
4   b     3     6

In [58]:
# Define the column to merge on
right_df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b'],'key2': ['one', 'one', 'one', 'two'],'rval': [4, 5, 6, 7]})
left_df = pd.DataFrame({'key1': ['a', 'a', 'b'],'key2': ['one', 'two', 'one'],'lval': [1, 2, 3]})

In [59]:
right_df

  key1 key2  rval
0    a  one     4
1    a  one     5
2    b  one     6
3    b  two     7

In [60]:
left_df

  key1 key2  lval
0    a  one     1
1    a  two     2
2    b  one     3

In [61]:
pd.merge(left_df, right_df, left_on=['key1', 'key2'], right_on=['key1', 'key2'])

  key1 key2  lval  rval
0    a  one     1     4
1    a  one     1     5
2    b  one     3     6